div.page_home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  max-width: 50vw;
}


.layout_btn {
  text-align: center;
  margin-top: 3rem;
}